{% extends 'catalog/base.html' %}
{% block content %}
<div class="col-6">
    <form class="row" method='post' enctype="multipart/form-data">
        <div class="col-6">
            <div class="card">
                <h3 class="card-title">
                    Профиль
                </h3>
                <div class="card-body">
                    {% csrf_token %}
                    {{ form.as_p }}
                </div>
                <button type="submit" class="btn btn-primary">
                    Сохранить
                </button>
            </div>
            <div class="card-footer"></div>
        </div>
    </form>
</div>
{% endblock %}